body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.project-container {
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;

}
.projects {
 min-width: 30%;
 max-width: 30%;
 border:5px double black;
 border-radius:15px;
 overflow: clip;
 padding:15px;
 margin:30px;

}

.project-title{
    text-align: center;
    margin:5px auto 15px;
    font-size: large;
}
img{
    width:100%;
}
.description-button{
    width:100%;
margin:15px auto;
padding:30px;
border-radius: 30px;
font-size: medium;
}

.project-description{
    width:100%;
text-align: center;
}

@media (max-width: 767px) {
    .projects{
        min-width: 90%;;
    }
}